dataset/*.npy
dataset/*.pkl
dataset/*.ply
dataset/audio
dataset/*.mat
dataset/labels/*.txt
dataset/mesh/*.ply
img/*
__pycache__/
models/
wandb/
results/*.txt
test2.ipynb
prova.txt
#test.ipynb
train_loss.txt
val_loss.txt
model_experiment.py