dataset/*.npy
dataset/*.pkl
dataset/*.ply
dataset/*.mat
dataset/labels/*.txt
dataset/mesh/*.ply
img/*.png
__pycache__/
models/
wandb/
results/*.txt
test2.ipynb
prova.txt
#test.ipynb
train_loss.txt
val_loss.txt